PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/jalwa
JWT_SECRET=
JWT_EXPIRES_IN=30d


# Backend production URL (must be publicly reachable by the payment gateway for callbacks)
BACKEND_URL=https://api.indgames.online
# Deep link scheme for the mobile app — users are redirected here after payment
APP_FRONTEND_URL=jalwaapp://


# Mcgindiamc Gateway
MCGINDIAMC_GATEWAY_URL=https://mcapi.mcgindiamc.com
MCGINDIAMC_ACCESS_KEY=6PA6mukghEKohQ4WYSF69Q
MCGINDIAMC_ACCESS_SECRET=YpDGKxILakmxsFztUZmJYA
MCGINDIAMC_CHANNEL_CODE=71001

# Oxoxmg Gateway
OXOXMG_GATEWAY_URL=https://mcapi.oxoxmg.com
OXOXMG_MERCHANT_ID=721001290
OXOXMG_MD5_KEY=F8F0B374BF332037C2EF85D8BBDD2F14
OXOXMG_PASSAGE_CODE=100001

# USDT Gateway
USDT_GATEWAY_URL=https://mcapi.aymercher.com
USDT_ACCESS_KEY=nEnamd/slk67lGXja3oVug
USDT_ACCESS_SECRET=ahuFk4c0906+wswGh6vl6A
USDT_CHANNEL_CODE=91001